<body>

    <!----------------------- Main Container -------------------------->

     <div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

       <div class="row border rounded-5 p-3 bg-white shadow box-area">

    <!--------------------------- Left Box ----------------------------->

       <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
           <div class="featured-image mb-3">
            <img src="/assets/login.svg" class="img-fluid" style="width: 250px;">
           </div>
       </div>

    <!-------------------- ------ Right Box ---------------------------->

       <div class="col-md-6 right-box">
          <div class="row align-items-center">
            <form #loginForm="ngForm">
                <div class="header-text mb-4">
                     <h2>Login</h2>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6"
                           placeholder="Username"
                           name="username"
                           [(ngModel)]="addLoginForm.username"
                           #username = "ngModel">
                </div>
                <div class="input-group mb-1">
                    <input type="password" class="form-control form-control-lg bg-light fs-6"
                           placeholder="Password"
                           name="password"
                           [(ngModel)]="addLoginForm.password"
                           #password = "ngModel">
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-primary w-100 fs-6" (click)="login()">Login</button>
                </div>
                <div class="row">
                    <small>Don't have account? <a  routerLink="/signup">Sign Up</a></small>
                </div>
            </form>
          </div>
       </div>

       </div>
    </div>

</body>
